In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
target = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["EIN", "NAME", "IS_SUCCESSFUL"], axis = 1)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
# Replace in dataframe
for app in application_types_to_replace:
    X['APPLICATION_TYPE'] = X['APPLICATION_TYPE'].replace(app, 'other')

# Check to make sure binning was successful
X['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
replaced_class = ['C1700', 'C4000', 'C7000', 'C5000',
       'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230',
       'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800',
       'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210',
       'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0',
       'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600',
       'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700',
       'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732',
       'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']
for value in replaced_class:
    X['CLASSIFICATION'] = X['CLASSIFICATION'].replace(value, 'other')

#check
X['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(X)
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [9]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, target, random_state=42)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
scaler.fit(X_train)

# Scale the data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [10]:
## Compile, Train and Evaluate the Model

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.Sequential()

#first hidden layer
nn.add(tf.keras.layers.Dense(units=100, input_dim=43, activation="relu"))

#second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="sigmoid"))

#third hidden layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

#checking the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4400

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 7,751
Trainable params: 7,751
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs= 100)

Epoch 1/100
804/804 [==============================] - 1s 760us/step - loss: 0.5796 - accuracy: 0.7152
Epoch 2/100
804/804 [==============================] - 1s 742us/step - loss: 0.5580 - accuracy: 0.7294
Epoch 3/100
804/804 [==============================] - 1s 730us/step - loss: 0.5544 - accuracy: 0.7299
Epoch 4/100
804/804 [==============================] - 1s 734us/step - loss: 0.5520 - accuracy: 0.7315
Epoch 5/100
804/804 [==============================] - 1s 757us/step - loss: 0.5507 - accuracy: 0.7314
Epoch 6/100
804/804 [==============================] - 1s 761us/step - loss: 0.5498 - accuracy: 0.7327
Epoch 7/100
804/804 [==============================] - 1s 730us/step - loss: 0.5489 - accuracy: 0.7319
Epoch 8/100
804/804 [==============================] - 1s 738us/step - loss: 0.5482 - accuracy: 0.7313
Epoch 9/100
804/804 [==============================] - 1s 730us/step - loss: 0.5472 - accuracy: 0.7320
Epoch 10/100
804/804 [==============================] - 1s 735us/step - loss: 0.5465 - accuracy: 0.7316
Epoch 11/100
804/804 [==============================] - 1s 746us/step - loss: 0.5461 - accuracy: 0.7327
Epoch 12/100
804/804 [==============================] - 1s 739us/step - loss: 0.5458 - accuracy: 0.7325
Epoch 13/100
804/804 [==============================] - 1s 735us/step - loss: 0.5449 - accuracy: 0.7330
Epoch 14/100
804/804 [==============================] - 1s 728us/step - loss: 0.5451 - accuracy: 0.7343
Epoch 15/100
804/804 [==============================] - 1s 734us/step - loss: 0.5441 - accuracy: 0.7341
Epoch 16/100
804/804 [==============================] - 1s 729us/step - loss: 0.5437 - accuracy: 0.7336
Epoch 17/100
804/804 [==============================] - 1s 730us/step - loss: 0.5429 - accuracy: 0.7334
Epoch 18/100
804/804 [==============================] - 1s 732us/step - loss: 0.5429 - accuracy: 0.7353
Epoch 19/100
804/804 [==============================] - 1s 735us/step - loss: 0.5429 - accuracy: 0.7351
Epoch 20/100
804/804 [==============================] - 1s 734us/step - loss: 0.5419 - accuracy: 0.7352
Epoch 21/100
804/804 [==============================] - 1s 738us/step - loss: 0.5418 - accuracy: 0.7351
Epoch 22/100
804/804 [==============================] - 1s 733us/step - loss: 0.5414 - accuracy: 0.7358
Epoch 23/100
804/804 [==============================] - 1s 732us/step - loss: 0.5411 - accuracy: 0.7371
Epoch 24/100
804/804 [==============================] - 1s 741us/step - loss: 0.5410 - accuracy: 0.7355
Epoch 25/100
804/804 [==============================] - 1s 738us/step - loss: 0.5407 - accuracy: 0.7355
Epoch 26/100
804/804 [==============================] - 1s 748us/step - loss: 0.5402 - accuracy: 0.7373
Epoch 27/100
804/804 [==============================] - 1s 737us/step - loss: 0.5403 - accuracy: 0.7362
Epoch 28/100
804/804 [==============================] - 1s 771us/step - loss: 0.5398 - accuracy: 0.7358
Epoch 29/100
804/804 [==============================] - 1s 749us/step - loss: 0.5398 - accuracy: 0.7364
Epoch 30/100
804/804 [==============================] - 1s 731us/step - loss: 0.5396 - accuracy: 0.7370
Epoch 31/100
804/804 [==============================] - 1s 731us/step - loss: 0.5391 - accuracy: 0.7378
Epoch 32/100
804/804 [==============================] - 1s 740us/step - loss: 0.5385 - accuracy: 0.7374
Epoch 33/100
804/804 [==============================] - 1s 741us/step - loss: 0.5387 - accuracy: 0.7379
Epoch 34/100
804/804 [==============================] - 1s 745us/step - loss: 0.5384 - accuracy: 0.7372
Epoch 35/100
804/804 [==============================] - 1s 741us/step - loss: 0.5383 - accuracy: 0.7373
Epoch 36/100
804/804 [==============================] - 1s 740us/step - loss: 0.5382 - accuracy: 0.7379
Epoch 37/100
804/804 [==============================] - 1s 725us/step - loss: 0.5382 - accuracy: 0.7374
Epoch 38/100
804/804 [==============================] - 1s 744us/step - loss: 0.5378 - accuracy: 0.7375
Epoch 39/100
804/804 [==============================] - 1s 738us/step - loss: 0.5380 - accuracy: 0.7381
Epoch 40/100
804/804 [==============================] - 1s 745us/step - loss: 0.5377 - accuracy: 0.7373
Epoch 41/100
804/804 [==============================] - 1s 757us/step - loss: 0.5374 - accuracy: 0.7386
Epoch 42/100
804/804 [==============================] - 1s 752us/step - loss: 0.5371 - accuracy: 0.7386
Epoch 43/100
804/804 [==============================] - 1s 939us/step - loss: 0.5370 - accuracy: 0.7387
Epoch 44/100
804/804 [==============================] - 1s 776us/step - loss: 0.5367 - accuracy: 0.7389
Epoch 45/100
804/804 [==============================] - 1s 761us/step - loss: 0.5370 - accuracy: 0.7394
Epoch 46/100
804/804 [==============================] - 1s 755us/step - loss: 0.5366 - accuracy: 0.7388
Epoch 47/100
804/804 [==============================] - 1s 754us/step - loss: 0.5365 - accuracy: 0.7385
Epoch 48/100
804/804 [==============================] - 1s 763us/step - loss: 0.5365 - accuracy: 0.7392
Epoch 49/100
804/804 [==============================] - 1s 750us/step - loss: 0.5364 - accuracy: 0.7397
Epoch 50/100
804/804 [==============================] - 1s 802us/step - loss: 0.5361 - accuracy: 0.7388
Epoch 51/100
804/804 [==============================] - 1s 810us/step - loss: 0.5363 - accuracy: 0.7386
Epoch 52/100
804/804 [==============================] - 1s 740us/step - loss: 0.5359 - accuracy: 0.7388
Epoch 53/100
804/804 [==============================] - 1s 756us/step - loss: 0.5360 - accuracy: 0.7394
Epoch 54/100
804/804 [==============================] - 1s 753us/step - loss: 0.5359 - accuracy: 0.7392
Epoch 55/100
804/804 [==============================] - 1s 747us/step - loss: 0.5358 - accuracy: 0.7391
Epoch 56/100
804/804 [==============================] - 1s 737us/step - loss: 0.5357 - accuracy: 0.7381
Epoch 57/100
804/804 [==============================] - 1s 746us/step - loss: 0.5354 - accuracy: 0.7397
Epoch 58/100
804/804 [==============================] - 1s 755us/step - loss: 0.5354 - accuracy: 0.7382
Epoch 59/100
804/804 [==============================] - 1s 740us/step - loss: 0.5354 - accuracy: 0.7392
Epoch 60/100
804/804 [==============================] - 1s 732us/step - loss: 0.5351 - accuracy: 0.7403
Epoch 61/100
804/804 [==============================] - 1s 761us/step - loss: 0.5353 - accuracy: 0.7396
Epoch 62/100
804/804 [==============================] - 1s 746us/step - loss: 0.5349 - accuracy: 0.7395
Epoch 63/100
804/804 [==============================] - 1s 738us/step - loss: 0.5353 - accuracy: 0.7403
Epoch 64/100
804/804 [==============================] - 1s 750us/step - loss: 0.5349 - accuracy: 0.7392
Epoch 65/100
804/804 [==============================] - 1s 748us/step - loss: 0.5347 - accuracy: 0.7395
Epoch 66/100
804/804 [==============================] - 1s 746us/step - loss: 0.5348 - accuracy: 0.7390
Epoch 67/100
804/804 [==============================] - 1s 761us/step - loss: 0.5342 - accuracy: 0.7400
Epoch 68/100
804/804 [==============================] - 1s 760us/step - loss: 0.5347 - accuracy: 0.7397
Epoch 69/100
804/804 [==============================] - 1s 736us/step - loss: 0.5343 - accuracy: 0.7402
Epoch 70/100
804/804 [==============================] - 1s 731us/step - loss: 0.5345 - accuracy: 0.7406
Epoch 71/100
804/804 [==============================] - 1s 743us/step - loss: 0.5349 - accuracy: 0.7388
Epoch 72/100
804/804 [==============================] - 1s 754us/step - loss: 0.5344 - accuracy: 0.7397
Epoch 73/100
804/804 [==============================] - 1s 752us/step - loss: 0.5343 - accuracy: 0.7399
Epoch 74/100
804/804 [==============================] - 1s 760us/step - loss: 0.5340 - accuracy: 0.7399
Epoch 75/100
804/804 [==============================] - 1s 745us/step - loss: 0.5341 - accuracy: 0.7398
Epoch 76/100
804/804 [==============================] - 1s 736us/step - loss: 0.5339 - accuracy: 0.7399
Epoch 77/100
804/804 [==============================] - 1s 736us/step - loss: 0.5340 - accuracy: 0.7402
Epoch 78/100
804/804 [==============================] - 1s 733us/step - loss: 0.5338 - accuracy: 0.7397
Epoch 79/100

804/804 [==============================] - 1s 726us/step - loss: 0.5338 - accuracy: 0.7400
Epoch 80/100
804/804 [==============================] - 1s 745us/step - loss: 0.5338 - accuracy: 0.7402
Epoch 81/100
804/804 [==============================] - 1s 744us/step - loss: 0.5340 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 1s 733us/step - loss: 0.5337 - accuracy: 0.7402
Epoch 83/100
804/804 [==============================] - 1s 732us/step - loss: 0.5337 - accuracy: 0.7400
Epoch 84/100
804/804 [==============================] - 1s 742us/step - loss: 0.5334 - accuracy: 0.7402
Epoch 85/100
804/804 [==============================] - 1s 728us/step - loss: 0.5334 - accuracy: 0.7398
Epoch 86/100
804/804 [==============================] - 1s 735us/step - loss: 0.5334 - accuracy: 0.7405
Epoch 87/100
804/804 [==============================] - 1s 731us/step - loss: 0.5333 - accuracy: 0.7395
Epoch 88/100
804/804 [==============================] - 1s 726us/step - loss: 0.5333 - accuracy: 0.7399
Epoch 89/100
804/804 [==============================] - 1s 727us/step - loss: 0.5333 - accuracy: 0.7400
Epoch 90/100
804/804 [==============================] - 1s 727us/step - loss: 0.5332 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 1s 731us/step - loss: 0.5334 - accuracy: 0.7398
Epoch 92/100
804/804 [==============================] - 1s 731us/step - loss: 0.5332 - accuracy: 0.7400
Epoch 93/100
804/804 [==============================] - 1s 724us/step - loss: 0.5330 - accuracy: 0.7396
Epoch 94/100
804/804 [==============================] - 1s 741us/step - loss: 0.5332 - accuracy: 0.7403
Epoch 95/100
804/804 [==============================] - 1s 739us/step - loss: 0.5327 - accuracy: 0.7404
Epoch 96/100
804/804 [==============================] - 1s 726us/step - loss: 0.5328 - accuracy: 0.7397
Epoch 97/100
804/804 [==============================] - 1s 730us/step - loss: 0.5332 - accuracy: 0.7406
Epoch 98/100
804/804 [==============================] - 1s 737us/step - loss: 0.5327 - accuracy: 0.7402
Epoch 99/100
804/804 [==============================] - 1s 727us/step - loss: 0.5326 - accuracy: 0.7399
Epoch 100/100
804/804 [==============================] - 1s 723us/step - loss: 0.5329 - accuracy: 0.7400

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f'Model Loss: {model_loss}, Model Accuracy: {model_accuracy}')

268/268 - 0s - loss: 0.5592 - accuracy: 0.7289 - 230ms/epoch - 857us/step
Model Loss: 0.5591951012611389, Model Accuracy: 0.728863000869751

In [14]:
# Export our model to HDF5 file
import h5py
h5py.File('AlphabetSoupCharity_Optimization.h5', 'w')